button:hover,
.item-PXvHYJ:hover,
.channel-2QD9_O:hover,
.member-3-YXUe:hover,
.item-1tOPte:hover,
.imageWrapper-2p5ogY:hover,
.assetWrapper-3GNt0z:hover,
.embedWrapper-lXpS3L:hover,
.avatar-1BDn8e:hover,
.tile-kezkfV:hover,
.tile-2w4k5N:hover,
.iconWrapper-2OrFZ1:hover,
.draggable-2E_4tJ:hover,
.content-1x5b-n:hover,
.itemCard-v9viV7:hover,
.hero-EvfTTA:hover,
.feature-2w65J5:hover,
.resultFocused-3aIoYe:hover,
.input-2VB9rf:hover,
.searchHeader-2I26nG:hover,
.categoryItem-3zFJns:hover,
.loaded-1eBnjq:hover,
.item-26Dhrx:hover,
.control-2BBjec:hover,
.powercord-product:hover
{
  transform: scale(var(--HoverScale));
  box-shadow: var(--elevation-high);
}



button,
.item-PXvHYJ,
.channel-2QD9_O,
.member-3-YXUe,
.item-1tOPte,
.imageWrapper-2p5ogY,
.assetWrapper-3GNt0z,
.embedWrapper-lXpS3L,
.avatar-1BDn8e,
.tile-kezkfV,
.tile-2w4k5N,
.iconWrapper-2OrFZ1,
.draggable-2E_4tJ,
.content-1x5b-n,
.itemCard-v9viV7,
.hero-EvfTTA,
.feature-2w65J5,
.resultFocused-3aIoYe,
.input-2VB9rf,
.searchHeader-2I26nG,
.categoryItem-3zFJns,
.loaded-1eBnjq,
.item-26Dhrx,
.control-2BBjec,
.powercord-product
{
  transition: var(--EaseType) var(--TransitionTime);
  box-shadow: none;
}